%h2 About page.
%p The site was curated and built by Felix Ng, a London based Developer who moves.

%p The site was designed, built and curated by Ricardo Henriquez, an Austin based Front End Developer / Designer.

%p There will be ideas and plans coming for mvmt, so keep checking for updates and don't forget to stay connected on Facebook and Twitter.

%br
%h4 Icons Credit
%p Ballet by Norbert Kucsera from the Noun Project
%p Gymnastics by Norbert Kucsera from the Noun Project
%p Dumbbell by anbileru adaleru from the Noun Project
%p Runner by Norbert Kucsera from the Noun Project
%p Juggler by Phil Laver from the Noun Project