%h1 About MVMT
%p The site was curated and built by Felix Ng, a London based Developer who moves.

%p There will be ideas and plans coming for mvmt, so keep checking for updates and don't forget to stay connected on Facebook and Twitter!

%ul.nav.social-list
  %li{ :style => "font-size:1em; text-transform: uppercase; width: auto;" } Follow Felix on:
  %li
    %a.fa.fa-facebook{:href => "http://www.facebook.com/nfelix"} Facebook
  %li
    %a.fa.fa-instagram{:href => "http://www.instagram.com/felixtheng"} Instagram
  %li
    %a.fa.fa-twitter{:href => "http://www.twitter.com/felixtheng"} Twitter
  %li
    %a.fa.fa-google-plus{:href => "https://plus.google.com/u/0/+FelixNgHK"} Google+

%br
%h2 Credits
%h5 Icons:
%h6 Ballet by Norbert Kucsera from the Noun Project
%h6 Gymnastics by Norbert Kucsera from the Noun Project
%h6 Dumbbell by Golden Roof from the Noun Project
%h6 Runner by Norbert Kucsera from the Noun Project
%h6 Juggler by Phil Laver from the Noun Project

%h5 Layout:
%h6
  Expanding Overlay Effect from
  %a{:href => "http://tympanus.net/codrops/2013/01/17/putting-css-clip-to-work-expanding-overlay-effect/"} Codrops
%h6
  Inspiration for Line Menu Styles from
  %a{:href => "http://tympanus.net/codrops/2016/01/06/inspiration-for-line-menu-styles/"} Codrops