%h1 About MVMT
%p The site was curated and built by Felix Ng, a London based Developer who moves.  The idea came up when Felix moved to London from Hong Kong and had trouble looking for good places to train in. And also the varies times he travelled to a new city and hoping to find a good studio to train.

%p
  Built for
  %strong movement loving travellers
  or someone who is
  %strong new to a city
  and looking to continue moving.

%p Currently only for London but expanding to include more cities and to make submissions open to public are in the plan!

%p
  And in the meantime, you can
  %strong
    %a.typeform-share.link{"data-mode" => "2", :href => "https://mvmt.typeform.com/to/WFfdHN", :target => "_blank"} suggest the next MVMT city here.
    :javascript
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()

%p There will be more coming for mvmt, so keep checking for updates and don't forget to stay connected!

%p
  But if you got any feature or idea that would make MVMT better, feel free to
  %strong
    %a.typeform-share.link{"data-mode" => "2", :href => "https://mvmt.typeform.com/to/CCuOPm", :target => "_blank"} get in touch!
    :javascript
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()

%br
%p Follow Felix on:

%div.social-list
  %ul.nav
    %li
      %a.fa.fa-facebook{:href => "http://www.facebook.com/nfelix", :target => '_blank'} Facebook
    %li
      %a.fa.fa-instagram{:href => "http://www.instagram.com/felixtheng", :target => '_blank'} Instagram
    %li
      %a.fa.fa-twitter{:href => "http://www.twitter.com/felixtheng", :target => '_blank'} Twitter
    %li
      %a.fa.fa-google-plus{:href => "https://plus.google.com/u/0/+FelixNgHK", :target => '_blank'} Google+

%br
%h2 Credits
%h5 Icons:
%h6 Ballet by Norbert Kucsera from the Noun Project
%h6 Gymnastics by Norbert Kucsera from the Noun Project
%h6 Dumbbell by Golden Roof from the Noun Project
%h6 Runner by Norbert Kucsera from the Noun Project
%h6 Juggler by Phil Laver from the Noun Project

%h5 Layout:
%h6
  Expanding Overlay Effect from
  %a{:href => "http://tympanus.net/codrops/2013/01/17/putting-css-clip-to-work-expanding-overlay-effect/", :target => '_blank'} Codrops
%h6
  Inspiration for Line Menu Styles from
  %a{:href => "http://tympanus.net/codrops/2016/01/06/inspiration-for-line-menu-styles/", :target => '_blank'} Codrops