%h2 About MVMT
%p The site was curated and built by 
	%a{ :href => "http://felix.ng", :title => "Felix Ng" }, a London based Developer who moves.

%p There will be ideas and plans coming for mvmt, so keep checking for updates and don't forget to stay connected on Facebook and Twitter!

%br
%h5 Icons Credit
%h6 Ballet by Norbert Kucsera from the Noun Project
%h6 Gymnastics by Norbert Kucsera from the Noun Project
%h6 Dumbbell by Golden Roof from the Noun Project
%h6 Runner by Norbert Kucsera from the Noun Project
%h6 Juggler by Phil Laver from the Noun Project