%h1 Sponsorship and Advertisement

%p
  Occasional sponsorships help keeps MVMT going.
%p
  If you are hoping to sponsor or advertise on MVMT, please
  %a{:href => "mailto:hello@mvmt.io"} get in touch here
  \: hello@mvmt.io
