%h1 Affiliate Disclosure ("Disclosure")
%p.h5 LAST UPDATED: APRIL 6, 2016


%p Disclosure: We are a informational site that receives compensation from the companies whose products we promote.
%p We check each product thoroughly and give high marks to only the very best.
%p We are independently owned and the opinions expressed here are our own.