%ul#rb-grid.rb-grid.clearfix
  %h4
    A curated list of studios and schools for people who move.
  %br
  - @resources.each do |resource|
    %li.rb-span-1{ :class => "icon-#{Category.find(resource.category.first).name.downcase}" }
      %div.brand
        =image_tag resource.logo.url, :size => "100x100", :class => "logo"
      %h3=resource.name
      %span.rb-code=resource.postcode
      - if resource.facebook?
        %a.fa.fa-facebook{:href => "http://www.facebook.com/" + resource.facebook}
      - if resource.twitter?
        %a.fa.fa-twitter{:href => "http://www.twitter.com/" + resource.twitter }
      - if resource.instagram?
        %a.fa.fa-instagram{:href => "http://www.instagram.com/" + resource.instagram}
      .rb-overlay
        %span.rb-close close
        .rb-week
          %div
            %span.rb-city=resource.name
            %span.icon-logo
              =image_tag resource.logo.url, :size => "300x300", :class => "logo"
            %span 21°C
          %div
            %span Mon
            %span.icon-dance
            %span 19°C
          %div
            %span Tue
            %span.icon-gymnastics
            %span 19°C
          %div
            %span Wed
            %span.icon-crossfit
            %span 18°C
          %div
            %span Thu
            %span.icon-clima-2
            %span 17°C
          %div
            %span Fri
            %span.icon-clima-2
            %span 10°C
          %div
            %span Sat
            %span.icon-clima-2
            %span 10°C
          %div
            %span Sun
            %span.icon-clima-2
            %span 12°C

