.rb-overlay
  %span.rb-close close
  .rb-week
    %div
      %span.rb-city=resource.name
      %span.icon-logo
        =image_tag resource.logo.url, :size => "300x300", :class => "logo"
      %p=resource.desc
    %div.map
      %iframe{"ng-src" => "{{map#{resource.__id__}}}", :frameborder => "0", :style => "border:0; width: 100%; height: 100%", :allowfullscreen => true}
    %div.sponsor
      %span Tue
      %span.icon-gymnastics
      %span 19°C