%h1 Discounts
%div{:style => 'width:100%; text-align:center; padding: 1% 15%'}
  - @offers.each do |offer|
    %div{:style => 'padding: 1em;'}
      %a{:href => offer.link}
        %h2= offer.title.upcase
      %h5= offer.desc
      %p
        ='Use Code:'
        %strong
          = offer.code

= link_to 'New Offer', new_offer_path
