@font-face {
    font-family:'ClimaconsRegular';
    src: font-url('climacons-webfont.eot');
    src: font-url('climacons-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('climacons-webfont.woff') format('woff'),
         font-url('climacons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'ClimaconsRegular', 'icomoon';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  line-height: 1em;
  margin-left: 0.2em;
  color: #fff;
}

.icon-clima-1:before { content: '\0031'; } /* '1' */
.icon-clima-2:before { content: '\0076'; } /* 'v' */
.icon-clima-3:before { content: '\0033'; } /* '3' */
.icon-clima-4:before { content: '\0034'; } /* '4' */
.icon-clima-5:before { content: '\003B'; } /* ';' */
.icon-clima-6:before { content: '\006F'; } /* 'o' */
.icon-clima-7:before { content: '\005D'; } /* ']' */
.icon-clima-8:before { content: '\0078'; } /* 'x' */
.icon-clima-9:before { content: '\0039'; } /* '9' */
.icon-clima-10:before { content: '\0030'; } /* '0' */
.icon-clima-11:before { content: '\0070'; } /* 'p' */

@font-face {
  font-family: 'icomoon';
  src:    font-url('acticons/icomoon.eot?m8tt2d');
  src:    font-url('acticons/icomoon.eot?m8tt2d#iefix') format('embedded-opentype'),
  font-url('acticons/icomoon.ttf?m8tt2d') format('truetype'),
  font-url('acticons/icomoon.woff?m8tt2d') format('woff'),
  font-url('acticons/icomoon.svg?m8tt2d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
//
//[class^="icon-"], [class*=" icon-"] {
//  /* use !important to prevent issues with browser extensions that change fonts */
//  font-family: 'icomoon' !important;
//  speak: none;
//  font-style: normal;
//  font-weight: normal;
//  font-variant: normal;
//  text-transform: none;
//  line-height: 1;
//
//  /* Better Font Rendering =========== */
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}

.icon-gymnastics:before {
  content: "\e900";
}
.icon-dance:before {
  content: "\e901";
}
.icon-crossfit:before {
  content: "\e902";
}