.rb-grid .fa {
  width: 1.5em;
  line-height: 1.7em;
  text-decoration: none;
}

.rb-grid .fa:hover {
  opacity: 1;
}

.rb-grid {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}

.rb-grid li {
	width: 24%;
	height: 15em;
	margin: 0.5%;
	background-color: #8CC7DF;
	color: #fff;
	display: block;
	float: left;
	padding: 1.4em;
	cursor: pointer;
	position: relative;
}

.rb-grid li.rb-span-2 {
	width: 49%;
}

.rb-grid li.rb-span-4 {
	width: 99%;
}

.rb-grid li h3 {
	font-size: 2em;
	font-weight: 300;
    margin-bottom: 3px;
    margin-top: 13px;
}

.rb-grid li h3.small{
    font-size: 1.4em;
    font-weight: 300;
    margin-top: 10px;
}

.rb-grid li h3.smaller{
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 8px;
}

.rb-grid li h3.xsmall{
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 5px;
}

.rb-grid li h3.xxsmall{
  font-size: 1em;
  font-weight: 300;
}

.rb-grid a {
    color: #fff;
    opacity: 0.5;
}

.rb-grid li[class^="ico-"]:before,
.rb-grid li[class*=" ico-"]:before {
	font-size: 10em;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	line-height: 2.3;
	opacity: 0.15;
	text-align: right;
	pointer-events: none;
}

.rb-code {
	display: block;
	font-size: 1em;
	opacity: 0.5;
    font-weight: 600;
    line-height: 1.8em;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

//.rb-grid li:hover .rb-code {
//	opacity: 1;
//}

.rb-overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: -1;
	pointer-events: none;
	cursor: default;
}

.rb-close {
	position: absolute;
	top: 0.4em;
	right: 0.4em;
	width: 2em;
	height: 2em;
	text-indent: -9000px;
	cursor: pointer;
	z-index: 1000;
}

.rb-close::before {
	content: 'x';
	font-weight: 100;
	position: absolute;
    text-transform: lowercase;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 3em;
	line-height: 0.6;
	text-align: center;
	text-indent: 0px;
}

.rb-week {
	width: 100%;
	height: 100%;
}
.rb-week > div {
  height: 100%;
  float: left;
  position: relative;
  padding: 3% 0;
}

.rb-week .map {
  width: 40%;
  padding: 0;
}

.rb-week .sponsor {
  width: 15%;
}

.rb-week .sponsor a {
  opacity: 1;
}

.rb-week > div:first-child {
	width: 30%;
}

.rb-week span {
	padding: 5% 0;
	font-size: 2em;
	font-weight: 100;
	display: block;
	margin: auto 0;
	height: 30%;
	width: 100%;
	line-height: 0.8;
}

.rb-week div.rb-city {
    font-weight: 300;
	padding: 3% 10%;
	font-size: 4em;
	line-height: 1.2;
}

.rb-week [class^="ico-"]:before {
	font-size: 2.5em;
	font-weight: normal;
}

.rb-week > div:first-child [class^="ico-"] {
	opacity: 0.5;
}

div.basic{
  background-image: url(http://www.transparenttextures.com/patterns/gplay.png);
  padding: 20px;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/* Colors */

/* Grid */
.rb-grid li.ico-dance { background-color: #3399CC; }
//.rb-grid li.ico-parkour { background-color: #33CCCC; }
//.rb-grid li:nth-child(3) { background-color: #996699; }
.rb-grid li.ico-circus { background-color: #C24747; }
//.rb-grid li.ico-parkour { background-color: #e2674a; }
.rb-grid li.ico-crossfit { background-color: #FFCC66; }
//.rb-grid li.ico-parkour { background-color: #99CC99; }
//.rb-grid liico-parkour { background-color: #669999; }
.rb-grid li.ico-gymnastics { background-color: #CC6699; }
//.rb-grid li.ico-parkour { background-color: #339966; }
.rb-grid li.ico-parkour { background-color: #666699; }

/* Overlay Columns */
.rb-grid li.ico-dance .rb-week > div:nth-child(11) { background-color: #3399CC; }
.rb-grid li.ico-dance .rb-week > div:nth-child(1) { background-color: #2D87B4; }
.rb-grid li.ico-dance .rb-week > div:nth-child(3) { background-color: #297AA3; }
.rb-grid li.ico-dance .rb-week > div:nth-child(2) { background-color: #256E93; }
.rb-grid li.ico-dance .rb-week > div:nth-child(5) { background-color: #216283; }
.rb-grid li.ico-dance .rb-week > div:nth-child(3) { background-color: #1D5672; }
.rb-grid li.ico-dance .rb-week > div:nth-child(4) { background-color: #184962; }
.rb-grid li.ico-dance .rb-week > div:nth-child(8) { background-color: #143D52; }

//.rb-grid li.ico-parkour .rb-week > div:nth-child(1) { background-color: #33CCCC; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(2) { background-color: #2DB4B4; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(3) { background-color: #29A3A3; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(4) { background-color: #259393; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(5) { background-color: #218383; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(6) { background-color: #1D7272; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(7) { background-color: #186262; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(8) { background-color: #145252; }

//.rb-grid li:nth-child(3) .rb-week > div:nth-child(1) { background-color: #996699; }
//.rb-grid li:nth-child(3) .rb-week > div:nth-child(2) { background-color: #936293; }
//.rb-grid li:nth-child(3) .rb-week > div:nth-child(3) { background-color: #875A87; }
//.rb-grid li:nth-child(3) .rb-week > div:nth-child(4) { background-color: #7A527A; }
//.rb-grid li:nth-child(3) .rb-week > div:nth-child(5) { background-color: #6E496E; }
//.rb-grid li:nth-child(3) .rb-week > div:nth-child(6) { background-color: #624162; }
//.rb-grid li:nth-child(3) .rb-week > div:nth-child(7) { background-color: #563956; }
//.rb-grid li:nth-child(3) .rb-week > div:nth-child(8) { background-color: #493149; }

.rb-grid li.ico-circus .rb-week > div:nth-child(11) { background-color: #C24747; }
.rb-grid li.ico-circus .rb-week > div:nth-child(1) { background-color: #B83D3D; }
.rb-grid li.ico-circus .rb-week > div:nth-child(3) { background-color: #A83838; }
.rb-grid li.ico-circus .rb-week > div:nth-child(2) { background-color: #993333; }
.rb-grid li.ico-circus .rb-week > div:nth-child(5) { background-color: #8A2E2E; }
.rb-grid li.ico-circus .rb-week > div:nth-child(3) { background-color: #7A2929; }
.rb-grid li.ico-circus .rb-week > div:nth-child(4) { background-color: #6B2424; }
.rb-grid li.ico-circus .rb-week > div:nth-child(8) { background-color: #5C1F1F; }

//.rb-grid li.ico-circus .rb-week > div:nth-child(1) { background-color: #e2674a; }
//.rb-grid li.ico-circus .rb-week > div:nth-child(2) { background-color: #E05C3E; }
//.rb-grid li.ico-circus .rb-week > div:nth-child(3) { background-color: #DD4D2C; }
//.rb-grid li.ico-circus .rb-week > div:nth-child(4) { background-color: #D34322; }
//.rb-grid li.ico-circus .rb-week > div:nth-child(5) { background-color: #C13D1F; }
//.rb-grid li.ico-circus .rb-week > div:nth-child(6) { background-color: #AF371D; }
//.rb-grid li.ico-circus .rb-week > div:nth-child(7) { background-color: #9E321A; }
//.rb-grid li.ico-circus .rb-week > div:nth-child(8) { background-color: #8C2C17; }

.rb-grid li.ico-crossfit .rb-week > div:nth-child(11) { background-color: #FFCC66; }
.rb-grid li.ico-crossfit .rb-week > div:nth-child(1) { background-color: #FFC247; }
.rb-grid li.ico-crossfit .rb-week > div:nth-child(3) { background-color: #FFBB33; }
.rb-grid li.ico-crossfit .rb-week > div:nth-child(2) { background-color: #FFB41F; }
.rb-grid li.ico-crossfit .rb-week > div:nth-child(5) { background-color: #FFAD0A; }
.rb-grid li.ico-crossfit .rb-week > div:nth-child(3) { background-color: #F5A200; }
.rb-grid li.ico-crossfit .rb-week > div:nth-child(4) { background-color: #E09600; }
.rb-grid li.ico-crossfit .rb-week > div:nth-child(8) { background-color: #CC8800; }
//
//.rb-grid li:nth-child(7) .rb-week > div:nth-child(1) { background-color: #99CC99; }
//.rb-grid li:nth-child(7) .rb-week > div:nth-child(2) { background-color: #85C185; }
//.rb-grid li:nth-child(7) .rb-week > div:nth-child(3) { background-color: #77BB77; }
//.rb-grid li:nth-child(7) .rb-week > div:nth-child(4) { background-color: #6AB46A; }
//.rb-grid li:nth-child(7) .rb-week > div:nth-child(5) { background-color: #5CAD5C; }
//.rb-grid li:nth-child(7) .rb-week > div:nth-child(6) { background-color: #52A352; }
//.rb-grid li:nth-child(7) .rb-week > div:nth-child(7) { background-color: #4B954B; }
//.rb-grid li:nth-child(7) .rb-week > div:nth-child(8) { background-color: #448844; }
//
//.rb-grid li:nth-child(8) .rb-week > div:nth-child(1) { background-color: #669999; }
//.rb-grid li:nth-child(8) .rb-week > div:nth-child(2) { background-color: #629393; }
//.rb-grid li:nth-child(8) .rb-week > div:nth-child(3) { background-color: #5A8787; }
//.rb-grid li:nth-child(8) .rb-week > div:nth-child(4) { background-color: #527A7A; }
//.rb-grid li:nth-child(8) .rb-week > div:nth-child(5) { background-color: #496E6E; }
//.rb-grid li:nth-child(8) .rb-week > div:nth-child(6) { background-color: #416262; }
//.rb-grid li:nth-child(8) .rb-week > div:nth-child(7) { background-color: #395656; }
//.rb-grid li:nth-child(8) .rb-week > div:nth-child(8) { background-color: #314949; }

.rb-grid li.ico-gymnastics .rb-week > div:nth-child(11) { background-color: #CC6699; }
.rb-grid li.ico-gymnastics .rb-week > div:nth-child(1) { background-color: #C7578F; }
.rb-grid li.ico-gymnastics .rb-week > div:nth-child(3) { background-color: #C24785; }
.rb-grid li.ico-gymnastics .rb-week > div:nth-child(2) { background-color: #B83D7A; }
.rb-grid li.ico-gymnastics .rb-week > div:nth-child(5) { background-color: #A83870; }
.rb-grid li.ico-gymnastics .rb-week > div:nth-child(3) { background-color: #993366; }
.rb-grid li.ico-gymnastics .rb-week > div:nth-child(4) { background-color: #8A2E5C; }
.rb-grid li.ico-gymnastics .rb-week > div:nth-child(8) { background-color: #7A2952; }

//.rb-grid li.ico-parkour .rb-week > div:nth-child(1) { background-color: #339966; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(2) { background-color: #2E8A5C; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(3) { background-color: #297A52; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(4) { background-color: #246B47; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(5) { background-color: #1F5C3D; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(6) { background-color: #194D33; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(7) { background-color: #143D29; }
//.rb-grid li.ico-parkour .rb-week > div:nth-child(8) { background-color: #0F2E1F; }

.rb-grid li.ico-parkour .rb-week > div:nth-child(11) { background-color: #666699; }
.rb-grid li.ico-parkour .rb-week > div:nth-child(1) { background-color: #626293; }
.rb-grid li.ico-parkour .rb-week > div:nth-child(3) { background-color: #5A5A87; }
.rb-grid li.ico-parkour .rb-week > div:nth-child(2) { background-color: #52527A; }
.rb-grid li.ico-parkour .rb-week > div:nth-child(5) { background-color: #49496E; }
.rb-grid li.ico-parkour .rb-week > div:nth-child(3) { background-color: #414162; }
.rb-grid li.ico-parkour .rb-week > div:nth-child(4) { background-color: #393956; }
.rb-grid li.ico-parkour .rb-week > div:nth-child(8) { background-color: #313149; }

@media screen and (max-width: 63.125em) {
	
	.rb-grid li,
	.rb-grid li.rb-span-2,
	.rb-grid li.rb-span-4 {
		width: 100%;
		height: 15em;
		text-align: left;
	}

	.rb-grid li[class^="ico-"]:before,
	.rb-grid li[class*=" ico-"]:before {
		font-size: 6em;
		left: auto;
		right: 0;
		line-height: 2.5;
	}

	.rb-grid li > div {
		text-align: center;
	}
}

p.overlay-desc{
  font-size: 1.2em;
  line-height: 1em;
  display: block;
}

div.overlay-details{
  padding-bottom: 5px;
}

div.overlay-details a{
  opacity: 0.7;
}