// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h4.title{
  font-weight: 300;
}

.category-select{
  width: 120px;
  display: inline-block;

}

.category-menu{
  width: 100%;
  line-height: 3em;
}

a.category-select{
  color: #555;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

a.category-select :hover{
  cursor: pointer;
}