.rb-overlay{ 'ng-click' => '$event.stopPropagation();'}
  %span.rb-close close
  .rb-week
    %div.basic
      %div.icon-logo
        %img{ :alt => "{{place.name}}", :class => "logo", :height => "100", "ng-src" => "{{place.logo}}", :width => "100"}
      %div.rb-city {{place.name}}
      %div.overlay-details
        %a{:href => "{{place.website}}", "ng-show" => "place.website", :target => '_blank'} {{place.website}}
      %div.overlay-details
        %a.fa.fa-facebook{:href => "http://www.facebook.com/{{place.facebook}}", "ng-show" => "place.facebook", :target => '_blank'}
        %a.fa.fa-twitter{:href => "http://www.facebook.com/{{place.twitter}}", "ng-show" => "place.twitter", :target => '_blank'}
        %a.fa.fa-instagram{:href => "http://www.facebook.com/{{place.instagram}}", "ng-show" => "place.instagram", :target => '_blank'}
      %p.overlay-desc {{place.desc}}
      %div#disqus{'ng-attr-id' => '{{disqus[place.id]}}'}
    %div.sponsor
      %span #{raw getRandomVerticalAffiliate()}
    %div.map
      -#%h3.map-placeholder MAP
      %iframe.google-map{"ng-src" => "{{map[place.id]}}", :frameborder => "0", :style => "border:0; width: 100%; height: 100%", :allowfullscreen => true}
    %div.sponsor
      %span #{raw getRandomVerticalAffiliate()}