.rb-overlay{:class => "ico-#{Category.find(@place.category.first).name.downcase}"}
  .rb-week
    %div.basic
      %div.icon-logo
        =image_tag @place.logo.url, :size => "200x200", :class => "logo"
      %div.rb-city=@place.name
      - if @place.website?
        %div.overlay-details
          %a{:href => @place.website} #{@place.website}
      %div.overlay-details
        - if @place.facebook?
          %a.fa.fa-facebook{:href => "http://www.facebook.com/" + @place.facebook}
        - if @place.twitter?
          %a.fa.fa-twitter{:href => "http://www.twitter.com/" + @place.twitter }
        - if @place.instagram?
          %a.fa.fa-instagram{:href => "http://www.instagram.com/" + @place.instagram}
      %p.overlay-desc=@place.desc
    %div.sponsor
      %span #{raw getRandomVerticalAffiliate()}
    %div.map
      %iframe{"ng-src" => 'https://www.google.com/maps/embed/v1/place?q=' + @place.name + '&key=AIzaSyA3aZfa51yc-MiMjZyToarr9BqUdx1A-S4&zoom=15',
              :frameborder => "0", :style => "border:0; width: 100%; height: 100%",
              :allowfullscreen => true}
    %div.sponsor
      %span #{raw getRandomVerticalAffiliate()}
#disqus_thread
:javascript
  /**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//mvmtapp.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
%noscript
  Please enable JavaScript to view the
  %a{:href => "https://disqus.com/?ref_noscript", :rel => "nofollow"} comments powered by Disqus.
